<template>
  <div>
    <el-dialog :title="$t('auth.edit.title')" :visible.sync="visible" :before-close="close">
      <el-form :model="form" :rules="rules" ref="form">
        <el-form-item :label="$t('auth.name')" prop="name" :label-width="formLabelWidth">
          <el-input v-model="form.name" :placeholder="$t('auth.name')" clearable></el-input>
        </el-form-item>
        <el-form-item :label="$t('auth.email')" prop="email" :label-width="formLabelWidth">
          <el-input v-model="form.email" :placeholder="$t('auth.email')" clearable></el-input>
        </el-form-item>
        <el-form-item :label="$t('auth.edit.old_pass')" prop="oldPassword" :label-width="formLabelWidth" v-show="show">
          <el-input v-model="form.oldPassword" :placeholder="$t('auth.edit.old_pass')" show-password clearable></el-input>
        </el-form-item>
        <el-form-item :label="$t('auth.edit.new_pass')" prop="newPassword" :label-width="formLabelWidth" v-show="show">
          <el-input v-model="form.newPassword" :placeholder="$t('auth.edit.new_pass')" show-password clearable></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="show = !show">{{ $t("auth.edit.update") }}</el-button>
        <el-button @click="cancel('form')">{{ $t("button.cancel") }}</el-button>
        <el-button type="primary" @click="onSubmit('form')">{{ $t("button.confirm") }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "editUser",
  data() {
    return {
      visible: false,
      show: false,
      form: {
         id: "",
         name: "",
         email: "",
         oldPassword: "",
         newPassword: "",
      },
      rules: {
        name: [
          { required: true, message: this.$t("auth.name_req"), trigger: "blur" },
        ],
        email: [
          { required: true, message: this.$t("auth.email_req"), trigger: "blur" },
          { type: "email", message: this.$t("auth.check"), trigger: ["blur", "change"] },
        ],
      },
      formLabelWidth: "120px",
    };
  },
  computed: {
    ...mapGetters(["authenticated", "user", "resp"]),
  },
  methods: {
    ...mapActions(["updateUser", "attempt"]),

    editUser() {
      this.visible = true;
      this.form.id = this.user.id
      this.form.name = this.user.name
      this.form.email = this.user.email
    },

    onSubmit(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.updateUser({id: this.form.id, name: this.form.name, email: this.form.email, oldPassword: this.form.oldPassword, newPassword: this.form.newPassword, }).then(() => {
            if (this.resp.error) {
              this.$message.error(this.$t("auth.exists"));
            } else {
              this.visible = false;
              this.$refs[form].resetFields();
              this.attempt()
              this.$message({
                message: this.$t("auth.edit.message"),
                type: "success",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    cancel(form) {
      this.visible = false;
      this.$refs[form].resetFields();
    },
    close() {
      this.visible = false;
      this.form.name = "";
      this.form.email = "";
      this.form.oldPassword = "";
      this.form.newPassword = "";
    },
  },
};
</script>
