<template>
  <div>
    <el-dialog :title="$t('auth.forgot.title')" :visible.sync="visible" :before-close="close">
      <el-form :model="form" :rules="rules" ref="form">
        <el-form-item :label="$t('auth.email')" prop="email" :label-width="formLabelWidth">
          <el-input autocomplete="off" :placeholder="$t('auth.email')" v-model="form.email" clearable></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel('form')">{{ $t('button.cancel') }}</el-button>
        <el-button type="primary" @click.prevent="onSubmit('form')">{{ $t('button.confirm') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "forgot",
  data() {
    return {
      visible: false,
      form: {
        email: "",
      },
      rules: {
        email: [
          { required: true, message: this.$t("auth.email_req"), trigger: "blur" },
          { type: "email", message: this.$t("auth.check"), trigger: ["blur", "change"] },
        ],
      },
      formLabelWidth: "120px",
    };
  },
  computed: {
    ...mapGetters(["authenticated", "user"]),
  },
  methods: {
    ...mapActions(["forgotPass"]),

    forgot() {
      this.visible = true;
    },

    onSubmit(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.forgotPass(this.form)
            .then(() => {
              //this.visible = false;
              this.$refs[form].resetFields();
              this.$message({
                message: this.$t("auth.forgot.message"),
                type: "success",
              });
            })
            .catch(() => {
              this.$message.error(this.$t("auth.forgot.wrong"));
            });
        } else {
          return false;
        }
      });
    },
    cancel(form) {
      this.visible = false;
      this.$refs[form].resetFields();
    },
    close() {
      this.visible = false;
      this.form.email = "";
    },
  },
};
</script>
