<template>
  <div>
    <el-dialog :title="$t('auth.reset.title')" :visible.sync="visible" :before-close="close">
      <el-form :model="form" :rules="rules" ref="form">
         <el-form-item :label-width="formLabelWidth">
          <el-input v-model="form.token" type="hidden"></el-input>
        </el-form-item>
        <el-form-item :label="$t('auth.email')" prop="email" :label-width="formLabelWidth">
          <el-input v-model="form.email" :placeholder="$t('auth.email')" clearable></el-input>
        </el-form-item>
        <el-form-item :label="$t('auth.pass')" prop="password" :label-width="formLabelWidth">
          <el-input v-model="form.password" :placeholder="$t('auth.pass')" show-password clearable></el-input>
        </el-form-item>
        <el-form-item :label="$t('auth.confirm')" prop="confirm" :label-width="formLabelWidth">
          <el-input v-model="form.confirm" :placeholder="$t('auth.confirm')" show-password clearable></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel('form')">{{ $t('button.cancel') }}</el-button>
        <el-button type="primary" @click="onSubmit('form')">{{ $t('button.confirm') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "reset",
  data() {
    var checkPass = (rule, value, callback) => {
      if (this.form.password != this.form.confirm) {
        callback(new Error(this.$t("auth.reg.check")));
      } else {
        callback();
      }
    };

    return {
      visible: false,
      form: {
         token: this.$route.params.pathMatch,
         email: "",
         password: "",
         confirm: "",
      },
      rules: {
        email: [
          { required: true, message: this.$t("auth.email_req"), trigger: "blur" },
          { type: "email", message: this.$t("auth.check"), trigger: ["blur", "change"] },
        ],
        password: [
          { required: true, message: this.$t("auth.pass_req"), trigger: "blur" },
        ],
        confirm: [
          { required: true, message: this.$t("auth.reg.confirm"), trigger: "blur" },
          { validator: checkPass, trigger: "blur" },
        ],
      },
      formLabelWidth: "120px",
    };
  },

   mounted() {
      this.visible = true;
   },

  methods: {
    ...mapActions(["reset"]),

    onSubmit(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.reset(this.form).then(() => {
              this.visible = false;
              this.$refs[form].resetFields();
              this.$router.push("/")
              this.$message({
                message: this.$t("auth.reset.message"),
                type: "success",
              });
          });
        } else {
          return false;
        }
      });
    },
    cancel(form) {
      this.visible = false;
      this.$refs[form].resetFields();
    },
    close() {
      this.visible = false;
      this.form.name = "";
      this.form.email = "";
      this.form.password = "";
      this.form.confirm = "";
    },
  },
};
</script>
