<template>
  <div>
    <navbar />
    <el-container >
      <sidebar v-if="authenticated" />
        <router-view name="tasks" ref="tasks" :key="$route.fullPath" style="width: 100%"></router-view>
        <router-view name="info"></router-view>
    </el-container>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import navbar from "./inc/navbar";
import sidebar from "./inc/sidebar";
import tasks from "./tasks";

export default {
  name: "app",
  components: { navbar, sidebar, tasks },
  computed: {
    ...mapGetters(["authenticated", "user", "Tasks"])
  }
};
</script>
