<template>
  <transition name="el-zoom-in-top">
    <div style="margin: 15px" v-show="trans" class="trans">
      <h3>Реализованные функции</h3>
      <el-tree :data="data" :props="defaultProps"></el-tree>
    </div>
  </transition>
</template>

<script>
  export default {
    data() {
      return {
        trans: false,
        data: [{
          label: 'Авторизация jwt',
          children: [
            { label: 'Логин' },
            { label: 'Логаут' },
            { label: 'Регистрация' },
            { label: 'Сброс пароля' },
            { label: 'Верификация',
              children: [
                { label: 'Отправка письма на эл почту' },
                { label: 'Повторная отправка письма' },
              ]
            },
          ]
        }, {
          label: 'Рабочие сущности',
          children: [
            { label: 'Каждый пользователь может иметь несколько списков задач' },
            { label: 'Каждый список задач имеет множество задач' },
            { label: 'CRUD',
              children: [
                { label: 'Пользователя' },
                { label: 'Списков' },
                { label: 'Задач' },
              ]
            },
          { label: 'Опции',
            children: [
              { label: 'Поиск задач' },
              { label: 'Сортировка задач по столбцам' },
              { label: 'Динамическая индексация задач' },
              { label: 'Вывод отформатированной даты' },
            ]
          },
          ]
        }, 
        { label: 'Опции приложения',
          children: [
            { label: 'Смена тем' },
            { label: 'Интернационализация' },
            { label: 'Запоминание выбранных опций' },
            { label: 'Оповещение о выполненных действиях' }
          ]
        },
        { label: 'Фронт',
          children: [
            { label: 'Валидация форм' },
            { label: 'Страница 404' },
            { label: 'Диалоговые окна' },
            { label: 'Очищение полей ввода кнопкой' },
            { label: 'Плавные переходы' },
            { label: 'Исчезающая кнопка удаления у списков' },
          ]
        },
        { label: 'Бэк',
          children: [
            { label: 'Автозаполнение базы данных' },
            { label: 'Удаление связанных моделей' }
          ]
        }
        ],
        defaultProps: {
          children: 'children',
          label: 'label'
        }
      };
    },
    mounted() {
    this.trans = true
    },
  };
</script>

<style scoped>
.trans {
  transition: 1s;
}
</style>