<template>
   <div class="d-flex justify-content-center">
      <span>
         <img src="https://cospi.ru/upload/iblock/0f0/Promer_404_7.jpg" alt="Error 404! Page not found">
      </span>
   </div>
</template>

<script>
export default {
   name: 'nopage',
}
</script>

<style scoped>
span {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
</style>