<template>
  <div>
    <transition name="el-zoom-in-top">
      <el-table :data="this.Tasks.filter(data => !search || 
        data.name.toLowerCase().includes(search.toLowerCase()) ||
        data.tag.toLowerCase().includes(search.toLowerCase()))"
        :empty-text="$t('tasks.empty')" v-show="trans" class="trans">
      <el-table-column label="№" type="index"></el-table-column>
      <el-table-column :label="$t('tasks.name')" prop="name" sortable></el-table-column>
      <el-table-column :label="$t('tasks.date')" prop="created_at" :formatter="date" sortable>
      </el-table-column>
      <el-table-column prop="tag" :label="$t('tasks.tag')" width="100%" sortable>
      <template slot-scope="scope">
          <el-tag>{{scope.row.tag}}</el-tag>
      </template>
      </el-table-column>
      <el-table-column>
          <template slot="header" slot-scope="scope">
          <el-input v-model="search" size="mini" :placeholder="$t('tasks.search')" clearable/>
          </template>
          <template slot-scope="scope">
          <el-button size="mini" @click="edit(scope.row)" :to="{ name: 'show', params: { id: scope.row.id } }">
              {{ $t("button.edit") }}
          </el-button>
          <el-button size="mini" type="danger" @click="deleteTask(scope.row)">{{ $t("button.delete") }}</el-button>
          </template>
      </el-table-column>
      </el-table>
    </transition>
    <edit ref="drawer" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import edit from "./tasks/edit";

export default {
  name: "tasks",
  components: { edit },
  data() {
    return {
      trans: false,
      show: true,
      search: "",
    };
  },
  computed: {
    ...mapGetters(["Tasks"]),
    noteId() {
      return this.$route.params.id;
    },
  },
  methods: {
    ...mapActions(["getTasks", "delTask"]),
    date(row, column, cellValue) {
      return this.$moment(cellValue).format("DD-MM-YYYY hh:mm:ss");
    },
    edit(row) {
      this.$refs.drawer.draw(row);
    },
    deleteTask(row) {
      this.delTask(row)
      this.$message({message: this.$t("messages.task.delete"), type: 'success' });
    },
  },

  mounted() {
    this.getTasks(this.$route.params.id);
    this.trans = true
  },
  beforeDestroy() {
    this.trans = false
  }
};
</script>

<style scoped>
.trans {
  width: 100%;
  transition: 1s;
}
</style>
