<template>
  <el-drawer
    :title="$t('messages.note.title')"
    :visible.sync="drawer"
    :before-close="close"
    direction="ttb"
    custom-class="demo-drawer"
    ref="drawer"
  >
  
    <div class="container demo-drawer__content">
      <el-form :model="form" :rules="rules" ref="form">
        <el-form-item :label="$t('messages.note.label')" prop="name">
          <el-input v-model="form.name" clearable></el-input>
        </el-form-item>
      </el-form>
      <div class="demo-drawer__footer">
        <el-button @click="cancelForm('form')">{{ $t("button.cancel") }}</el-button>
        <el-button type="primary" @click="onSubmit('form')">{{ $t("button.confirm") }}</el-button>
      </div>
    </div>
  </el-drawer>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "createNote",
  data() {
    return {
      drawer: false,
      form: {
        name: "",
      },
      rules: {
        name: [
          { required: true, message: this.$t("messages.note.required"), trigger: "blur" },
          { max: 15, message: this.$t("messages.note.length"), trigger: "blur" },
        ],
      },
    };
  },
  methods: {
    ...mapActions(["addNote"]),
    draw() {
      this.drawer = true;
    },
    onSubmit(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.addNote(this.form.name);
          this.drawer = false;
          this.$refs[form].resetFields();
          this.$message({message: this.$t("messages.note.created"), type: 'success' });
        } else {
          //this.$message.error('Oops, create list failed');
          return false;
        }
      });
    },
    cancelForm(form) {
      this.drawer = false;
      this.$refs[form].resetFields();
    },
    close() {
      this.form.name = "";
      this.drawer = false;
    },
  },
};
</script>

<style>
</style>
