<template>
  <el-drawer
    :title="$t('messages.note.edit')"
    :visible.sync="drawer"
    :before-close="close"
    direction="ttb"
    custom-class="demo-drawer"
    ref="drawer"
  >
    <div class="container demo-drawer__content">
      <el-form :model="form" :rules="rules" ref="form">
        <el-form-item :label="$t('messages.note.label')" prop="name">
          <el-input v-model="note.name" clearable></el-input>
        </el-form-item>
      </el-form>
      <div class="demo-drawer__footer">
        <el-button @click="cancelForm('form')">{{$t("button.cancel")}}</el-button>
        <el-button type="primary" @click="onSubmit('form')">{{$t("button.confirm")}}</el-button>
      </div>
    </div>
  </el-drawer>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "editNote",
  data() {
    return {
      drawer: false,
      note: {},
      form: {
        name: "",
      },
      rules: {
        name: [
          { required: true, message: this.$t("messages.note.required"), trigger: "blur" },
          { max: 15, message: this.$t("messages.note.length"), trigger: "blur" },
        ],
      },
    };
  },
  watch: {
    "note.name": function (newName, oldName) {
      this.form.name = newName;
    },
  },
  methods: {
    ...mapActions(["updateNote", "getNotes"]),
    draw(note) {
      this.drawer = true;
      this.form.name = note.name;
      this.note = note;
    },
    onSubmit(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.updateNote(this.note);
          this.drawer = false;
          this.$message({message: this.$t("messages.note.updated"), type: 'success' });
        } else {
          //this.$message.error('Oops, update list failed');
          return false;
        }
      });
    },
    cancelForm(form) {
      this.getNotes();
      this.drawer = false;
      this.$refs[form].resetFields();
    },
    close() {
      this.getNotes();
      this.drawer = false;
    },
  },
};
</script>

<style>
</style>
