<template>
  <el-drawer
    :title="$t('messages.task.title')"
    :visible.sync="drawer"
    :before-close="close"
    direction="ltr"
    custom-class="demo-drawer"
    ref="drawer"
  >
    <div class="container demo-drawer__content">
      <el-form :model="form" :rules="rules" ref="form">
        <el-form-item :label="$t('messages.task.label')" prop="name">
          <el-input v-model="form.name" clearable></el-input>
        </el-form-item>
        <el-form-item :label="$t('messages.task.tag_label')" prop="tag">
          <el-input v-model="form.tag" clearable></el-input>
        </el-form-item>
      </el-form>
      <div class="demo-drawer__footer">
        <el-button @click="cancelForm('form')">{{ $t("button.cancel") }}</el-button>
        <el-button type="primary" @click="onSubmit('form')">{{ $t("button.confirm") }}</el-button>
      </div>
    </div>
  </el-drawer>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "createTask",
  data() {
    return {
      drawer: false,
      form: {
        name: "",
        tag: ""
      },
      rules: {
        name: [
          { required: true, message: this.$t("messages.task.required"), trigger: "blur" },
          { max: 255, message: this.$t("messages.task.length"), trigger: "blur" }
        ],
        tag: [
          { required: true, message: this.$t("messages.task.t_required"), trigger: "blur" },
          { max: 10, message: this.$t("messages.task.t_length"), trigger: "blur" }
        ]
      },
    };
  },
  methods: {
    ...mapActions(["addTask"]),
    draw() {
      this.drawer = true;
    },
    onSubmit(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.addTask({ id: this.$route.params.id, name: this.form.name, tag: this.form.tag });
          this.$refs[form].resetFields();
          this.drawer = false;
          this.$message({message: this.$t("messages.task.created"), type: 'success' });
        } else {
          //this.$message.error('Oops, create task failed');
          return false;
        }
      });
    },
    cancelForm(form) {
      this.drawer = false;
      this.$refs[form].resetFields();
    },
    close() {
      this.form.name = "";
      this.form.tag = "";
      this.drawer = false;
    },
  },
};
</script>

<style>
</style>
