<template>
  <el-drawer
    :title="$t('messages.task.title')"
    :visible.sync="drawer"
    :before-close="close"
    direction="rtl"
    custom-class="demo-drawer"
    ref="drawer"
  >
    <div class="container demo-drawer__content">
      <el-form :model="form" :rules="rules" ref="form">
        <el-form-item :label="$t('messages.task.label')" prop="name">
          <el-input v-model="task.name" clearable></el-input>
        </el-form-item>
        <el-form-item :label="$t('messages.task.tag_label')" prop="tag">
          <el-input v-model="task.tag" clearable></el-input>
        </el-form-item>
      </el-form>
      <div class="demo-drawer__footer">
        <el-button @click="cancelForm">{{ $t("button.cancel") }}</el-button>
        <el-button type="primary" @click="onSubmit('form')">{{ $t("button.confirm") }}</el-button>
      </div>
    </div>
  </el-drawer>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "edit",
  data() {
    return {
      drawer: false,
      task: {},
      form: {
        name: "",
        tag: ""
      },
      rules: {
        name: [
          { required: true, message: this.$t("messages.task.required"), trigger: "blur" },
          { max: 255, message: this.$t("messages.task.length"), trigger: "blur" }
        ],
        tag: [
          { required: true, message: this.$t("messages.task.t_required"), trigger: "blur" },
          { max: 10, message: this.$t("messages.task.t_length"), trigger: "blur" }
        ]
      },
    };
  },
  watch: {
    "task.name": function (newName, oldName) {
      this.form.name = newName;
    },
    "task.tag": function (newTag, oldTag) {
      this.form.tag = newTag;
    },
  },
  methods: {
    ...mapActions(["updateTask", "getTasks"]),
    draw(row) {
      this.drawer = true;
      this.form.name = row.name;
      this.form.tag = row.tag;
      this.task = row;
    },
    onSubmit(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.updateTask(this.task);
          this.drawer = false;
          this.$message({message: this.$t("messages.task.updated"), type: 'success' });
        } else {
          //this.$message.error('Oops, update task failed');
          return false;
        }
      });
    },
    cancelForm() {
      this.getTasks(this.$route.params.id);
      this.drawer = false;
    },
    close() {
      this.getTasks(this.$route.params.id);
      this.drawer = false;
    },
  },
};
</script>

<style>
</style>
