<template>
  <transition name="el-zoom-in-center">
    <el-menu
      class="el-menu-demo trans"
      mode="horizontal"
      background-color="#2d3744"
      text-color="#fff"
      active-text-color="#ffd04b"
      @select="handleSelect"
      v-show="trans"
    >
      <el-menu-item>
        <div style="font-size: 1.5rem">{{ $t("navbar.label") }}</div>
      </el-menu-item>
      <el-menu-item index="1">{{ $t("navbar.home") }}</el-menu-item>
      <el-menu-item index="2">{{ $t("navbar.info") }}</el-menu-item>
      <el-menu-item index="3" class="float-right">
        <el-button type="text" v-if="!authenticated" @click="register"
          >{{ $t("navbar.reg") }}</el-button>
        <el-button type="text" v-if="authenticated" @click.prevent="signOut"
          >{{ $t("navbar.logout") }}</el-button>
      </el-menu-item>
      <el-menu-item index="4" class="float-right">
        <el-button type="text" v-if="!authenticated" @click="login"
          >{{ $t("navbar.login") }}</el-button>
        <div type="text" v-if="authenticated">
          {{ $t("navbar.hello") }}, {{ user.name }}</div>
      </el-menu-item>

      <login ref="login" @forgot="forgot" />
      <register ref="register" />
      <forgot ref="forgot" />
    </el-menu>
  </transition>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import login from "../auth/login";
import register from "../auth/register";
import forgot from "../auth/forgot";

export default {
  name: "navbar",
  components: { login, register, forgot},
  data() {
    return {
      trans: false
    };
  },
  mounted() {
    this.trans = true
  },
  computed: {
    ...mapGetters(["authenticated", "user"]),
  },
  methods: {
    ...mapActions(["logout"]),

    handleSelect(key, keyPath) {
      if (key == 1) { this.$router.push("/").catch(() => { }) }
      if (key == 2) { this.$router.push("/info").catch(() => { }) }
    },
    login() {
      this.$refs.login.login();
    },
    register() {
      this.$refs.register.register();
    },
    signOut() {
      this.logout().then(() => {
        this.$router.push("/").catch(() => { });
      });
    },
    forgot() {
      this.$refs.forgot.forgot();
    }
  },
};
</script>