<template>
  <div>
    <transition name="el-zoom-in-top">
      <el-aside width="250px" v-show="trans" class="trans">
        <el-menu>
          <el-submenu index="1">
            <template slot="title"><i class="el-icon-document-add"></i>{{ $t("sidebar.actions") }}</template>
            <el-menu-item index="1" @click="createNote()">
              <i class="el-icon-folder-add"></i>{{ $t("sidebar.list") }}</el-menu-item>
            <el-menu-item index="2" @click="createTask()">
              <i class="el-icon-circle-plus"></i>{{ $t("sidebar.task") }}</el-menu-item>
          </el-submenu>

          <el-submenu index="2">
            <template slot="title"><i class="el-icon-menu"></i>{{ $t("sidebar.lists") }}</template>
            <div
              v-for="(note, index) in Notes"
              :key="note.id"
              :note="note"
              :index="index"
              :class="{ active: show === index }"
              @click="select = index"
              @dblclick="editNote(note)"
              @mouseover="show = index"
              @mouseleave="show = false"
            >
              <el-menu-item class="unselectable">
                <router-link :to="{ name: 'tasks', params: { id: note.id } }">
                  <el-row>
                    <el-col :span="5" class="note" :class="{selected: select === index}">
                      <i class="el-icon-document"></i>
                      {{ note.name }}
                    </el-col>
                    <transition name="fade">
                      <el-col :span="1" v-show="show === index" class="float-right">
                        <el-button type="danger" size="mini" @click="deleteNote(note)">X</el-button>
                      </el-col>
                    </transition>
                  </el-row>
                </router-link>
              </el-menu-item>
            </div>
          </el-submenu>

          <el-submenu index="3">
            <template slot="title"><i class="el-icon-setting"></i>{{ $t("sidebar.options") }}</template>
            <el-menu-item-group>
              <template slot="title">{{ $t("sidebar.user") }}</template>
              <el-menu-item index="3-1">
                <div v-if="this.user.email_verified_at" disabled>
                  <i class="el-icon-folder-checked"></i>{{ $t("sidebar.verified") }}</div>
                <div v-else @click="send">
                  <i class="el-icon-folder-delete"></i>{{ $t("sidebar.verify") }}</div>
              </el-menu-item>
              <el-menu-item index="3-2" @click="editUser">
                <i class="el-icon-s-custom"></i>{{ $t("sidebar.data") }}</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group>
              <template slot="title">{{ $t("sidebar.app") }}</template>
              <el-menu-item index="3-3">
                <i class="el-icon-table-lamp"></i>{{ $t("sidebar.dark") }}
                <div class="float-right"><el-switch v-model="nightmode" @change="theme"></el-switch></div>
              </el-menu-item>
              <el-menu-item index="3-3">
                <i class="el-icon-eleme"></i>{{ $t("sidebar.lang") }}
                <div class="float-right">
                  <el-switch v-model="i18n" @change="locale"
                    active-text="Ru" inactive-text="En">
                  </el-switch></div>
              </el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-aside>
    </transition>
    <createTask ref="drawerTask" />
    <createNote ref="drawerNote" />
    <editNote ref="editNote" />
    <editUser ref="editUser" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import createTask from "../tasks/create";
import createNote from "../notes/create";
import editNote from "../notes/edit";
import editUser from "../auth/editUser";

export default {
  name: "sidebar",
  components: { createTask, createNote, editNote, editUser },
  data() {
    return {
      trans: false,
      show: false,
      select: null,
      nightmode: false,
      i18n: false
    };
  },
  created() {
    if (localStorage.getItem('theme')) {
      this.nightmode = true
      document.getElementById('theme').setAttribute('href', 'css/dark/theme/index.css')
    }
    if (localStorage.getItem('locale')) {
      this.i18n = true
      this.$i18n.locale = 'ru'
    }
  },
  computed: {
    ...mapGetters(["Notes", "authenticated", "user"])
  },
  methods: {
    ...mapActions(["getNotes", "delNote", "sendNotice"]),
    createTask() {
      if (this.$route.params.id) {
        this.$refs.drawerTask.draw();
      } else {
        this.$message({
          message: this.$t("messages.note.select"),
          type: "warning"
        });
      }
    },
    createNote() {
      this.$refs.drawerNote.draw();
    },
    editNote(note) {
      this.$refs.editNote.draw(note);
    },
    editUser() {
      this.$refs.editUser.editUser();
    },
    deleteNote(note) {
      this.delNote(note)
      this.$message({ message: this.$t("messages.note.delete"), type: 'success' });
    },
    send() {
      this.sendNotice(this.user)
      this.$message({ message: this.$t("messages.note.notify"), type: 'success' });
    },
    theme() {
      if (this.nightmode) {
        document.getElementById('theme').setAttribute('href', 'css/dark/theme/index.css')
        localStorage.setItem('theme', 'dark')
      } else {
        document
          .getElementById("theme")
          .setAttribute("href", "css/light/theme/index.css");
        localStorage.removeItem("theme");
      }
    },
    locale() {
      if (this.i18n) {
        this.$i18n.locale = "ru";
        localStorage.setItem("locale", "ru");
      } else {
        this.$i18n.locale = "en";
        localStorage.removeItem("locale");
      }
    }
  },
  mounted() {
    this.getNotes();
    this.trans = true;
  }
};
</script>

<style scoped>
.trans {
  transition: 1s;
}

.el-aside {
  color: #333;
}

.hide {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.selected {
  color: #387fe1;
}
</style>
